*{
    margin: 0;
    padding: 0;
    font-family:sans-serif ;
}
.form-box{
    width: 600px;
    height:750px;
    position: relative;
    margin: 20px 20px;
    padding: 5px;
    overflow: scroll;
    border-top: 2px solid white;
    border-left: 2px solid white;
    border-right: 2px solid white;
    border-bottom: 2px solid white;
    background: rgba(0,0,0,0.4);
}
table , td{
    width: 500px;
    padding: 1px;
}
.button-box{
    width: 220px;
    margin: 5px auto;
    position: relative;
    border-radius: 30px;
    border-top: 2px solid white;
    border-left: 2px solid white;
    border-right: 2px solid white;
    border-bottom: 2px solid white;
}
.toggle-btn{
    padding: 10px 25px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
    color: white;
}
#btn{
    top: 0;
    left: 0;
    position: absolute;
    width: 110px;
    height: 100%;
    background: linear-gradient(to right,#16b43d,#1dd6e4);
    border-radius: 30px;
    transition:.5s ;
}
::placeholder{
    color: white;
}
.input-group1{
    top: 80px;
    position: absolute;
    width: 280px;
    transition: .5s;
    color: white;
}

.input-group2{
    top: 80px;
    position: absolute;
    width: 280px;
    transition: .5s;
    color: white;
}
.input-field{
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid rgb(255, 255, 255);
    outline: none;
    background: transparent;
    font-size: 20px;
    font-style: bold;
    color: white;
}
.submit-btn{
    width: 80%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    background: linear-gradient(to right,#16b43d,#1dd6e4);
    border: 0;
    outline: none;
    border-radius: 30px;
}
.check-box{
    margin: 30px 10px 30px 0;

}
#login{
    left: 65px;
}
#register{
    left: 700px;
}
.error_color{
    color: red;
}
.dropcls{
    width: relative;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    text-align: center;
    background: linear-gradient(to right,#16b43d,#1dd6e4);
    border: 0;
    outline: none;
    border-radius: 30px;
}
.bg{
	background: url(../public/images/t6.jpg.webp) no-repeat;
	background-position: center;
	background-size: cover;
	position: absolute;
	height: 100%;
	width: 100%;
}
.navbar{
	position: relative;
	height: 80px;
	width: 100%;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.4);
}
.logo{
	width: 105px;
    height: 105px;
	padding: 0px 15px;
	padding-top: px;
}
.navbar ul{
	float: right;
	margin-right: 20px;
	padding-top: 15px;
}
.navbar ul li{
	list-style: none;
	margin: 0 8px;
	display: inline-block;
	/* line-height: 80px; */
}
 .navbar ul li button{ 
	height: 50px;
	width: 150px;
	font-size: 18px;
	font-weight: 600;
	color: #ffffff;
	background: linear-gradient(to right,#16b43d,#1dd6e4);
	outline: none;
	cursor: pointer;
	border-radius: 25px;
 } 
.navbar ul li button.active,
.navbar ul li button:hover{
	background: linear-gradient(to left,#16b43d,#1dd6e4);
	border-radius: 20px; 
}
.bg .center{
	position: absolute;
	left: 50%;
	top: 49%;
	transform: translate(-90%, -45%);
	user-select: none;
}
.buttons button:hover{
	background: #cc0000;
}

.sidebar{
    height: 50px;
	width: 150px;
	font-size: 18px;
	font-weight: 600;
	color: #ffffff;
	background: linear-gradient(to right,#16b43d,#1dd6e4);
	outline: none;
	cursor: pointer;
	border-radius: 25px;
}

/* .sidebar button.active, */
.sidebar button:hover{
	background: linear-gradient(to left,#16b43d,#1dd6e4);
    border-radius: 20px; 
}

a{
    border-style: none;
    color: #ffffff;
}


a:link, a:visited, a:hover, a:active {
    text-decoration: none;
  }

  .mytable > td {
    width: 500px;
    padding: 30px;
    color: #ffffff;
  }