*{
	padding: 0;
	margin: 0;
}
.bg{
	background: url(../public/images/t6.jpg.webp) no-repeat;
	background-position: center;
	background-size: cover;
	position: absolute;
	height: 100%;
	width: 100%;
}
.navbar{
	position: relative;
	height: 80px;
	width: 100%;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.4);
}
.logo{
	width: 120px;
    height: 120px;
	padding: 0px 15px;
	padding-top: px;
}
.navbar ul{
	float: right;
	margin-right: 20px;
	padding-top: 15px;
}
.navbar ul li{
	list-style: none;
	margin: 0 8px;
	display: inline-block;
	/* line-height: 80px; */
}
 .navbar ul li button{ 
	height: 50px;
	width: 150px;
	font-size: 18px;
	font-weight: 600;
	color: #ffffff;
	background: linear-gradient(to right,#16b43d,#1dd6e4);
	outline: none;
	cursor: pointer;
	border-radius: 25px;
 } 
.navbar ul li button.active,
.navbar ul li button:hover{
	background: linear-gradient(to left,#16b43d,#1dd6e4);
	border-radius: 20px; 
}
.bg .center{
	position: absolute;
	left: 50%;
	top: 49%;
	transform: translate(-90%, -45%);
	user-select: none;
}
.buttons button:hover{
	background: #cc0000;
}